.round-button-circle {
    -fx-width: 100%;
    -fx-height:0;
    -fx-padding-bottom: 100%;
    -fx-border-radius:40px;
    -fx-border-style: outset;
    -fx-border-width: 6px;
    -fx-border-color: #747474;
    -fx-overflow:hidden;

    -fx-background: rgba(70, 121, 189, 0);

}
.round-button-circle:hover {
    -fx-border-color: rgb(253, 254, 255);
    -fx-border-radius: 40px;
    -fx-background-radius: 50px;
}
.round-button {

    -fx-float:left;
    -fx-width:100%;
    -fx-padding-top:50%;
    -fx-padding-bottom:50%;
    -fx-line-height:1px;
    -fx-margin-top:-0.5px;

    -fx-text-align:center;
    -fx-background-color: #747474;
    -fx-background-radius: 25px;
    -fx-font-family:Verdana;
    -fx-font-size:35px;
    -fx-font-weight:bold;
    -fx-text-decoration:none;
}